dm_control==1.0.23
tensorboard==2.14.0
torch==2.3.1+cu118
gt==0.3.14
gtimer==1.0.0b5
gym==0.23.0
joblib==0.17.0
matplotlib==3.3.2
mujoco-py==2.1.2.14
numpy==1.24.4
pandas==2.0.3
Pillow==11.1.0
python_dateutil==2.9.0.post0
pyyaml==6.0.2
scipy==1.15.2
seaborn==0.11.0
scikit-learn==0.22
wandb==0.19.8
git+git://github.com/denisyarats/dmc2gym.git